### Loops

for
while

In [1]:
var = "science"

In [2]:
for i in var:
    print(i)

s
c
i
e
n
c
e

In [3]:
l1 = [23,1,2,3,5,5,8]

In [4]:
for i in l1:
    print(i)

23
1
2
3
5
5
8

In [5]:
for i in 87667:
    print(i)

TypeError: 'int' object is not iterable

In [6]:
for i in "87667":
    print(i)

8
7
6
6
7

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
a = 0

while a < 5:
    print(a)
    a = a+1

0
1
2
3
4

In [9]:
st = ""

while st != "quit":
    st = input()
    print(st)

 amit

amit

 python

python

 c++

c++

 java

java

 quit

quit

In [10]:
l1

[23, 1, 2, 3, 5, 5, 8]

In [11]:
for i, j in enumerate(l1):
    print(i, "--", j)

0 -- 23
1 -- 1
2 -- 2
3 -- 3
4 -- 5
5 -- 5
6 -- 8

In [12]:
var

'science'

In [14]:
for i, j in enumerate(var):
    print(i, "--", j)

0 -- s
1 -- c
2 -- i
3 -- e
4 -- n
5 -- c
6 -- e

In [17]:
l2 = list(enumerate(var))

In [18]:
l2

[(0, 's'), (1, 'c'), (2, 'i'), (3, 'e'), (4, 'n'), (5, 'c'), (6, 'e')]

In [20]:
for i, j in l2:
    print(i, " ", j)

0   s
1   c
2   i
3   e
4   n
5   c
6   e

In [ ]:
range(6)

In [25]:
for i in range(6):
    print(i**2, "-", i*2)

0 - 0
1 - 2
4 - 4
9 - 6
16 - 8
25 - 10

In [29]:
for i in range(6, 0,-1):
    print(i)

6
5
4
3
2
1

In [30]:
fruits = [ "Apple", "Banana", "Mango", "Orange", "Grapes", 
    "Pineapple", "Watermelon", "Papaya", "Guava", "Pomegranate",
    "Lemon", "Lime", "Sweet Lime", "Grapefruit", "Peach"]

In [31]:
for i in fruits:
    if i == "Papaya":
        print("Papaya")

Papaya

In [33]:
fruits1 = [ "Apple",4,6,7, "Banana",1,4, "Mango", "Orange", 5,6, 8,"Grapes", ]

In [34]:
int_list = []
for i in fruits1:
    if type(i)==int:
        int_list.append(i)


print(int_list)

[4, 6, 7, 1, 4, 5, 6, 8]

In [35]:
f1 = []

for i in fruits1:
    if type(i)==str:
        f1.append(i)

In [36]:
f1

['Apple', 'Banana', 'Mango', 'Orange', 'Grapes']

In [38]:
for i in fruits1:
    pass

In [39]:
for i in fruits1:
    if i==1:
        pass
    print(i)

Apple
4
6
7
Banana
1
4
Mango
Orange
5
6
8
Grapes

In [40]:
for i in fruits1:
    if i==1:
        break
    print(i)

Apple
4
6
7
Banana

In [42]:
fruits1

['Apple', 4, 6, 7, 'Banana', 1, 4, 'Mango', 'Orange', 5, 6, 8, 'Grapes']

In [43]:
for i in fruits1:
    if i==1 or i==4:
        continue
    print(i)

Apple
6
7
Banana
Mango
Orange
5
6
8
Grapes

In [45]:
for i in range(5):
    print(i)
else:
    print("end of the loop")

0
1
2
3
4
end of the loop

In [46]:
a = 0
while a < 5:
    print(a)
    a+=1

0
1
2
3
4

In [47]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [48]:
for i in d:
    print(i)

key1
contact
position

In [50]:
for i in d.values():
    print(i)

sudh
gmail
mentor

In [52]:
for i in d.items():
    print(i, " ----", type(i))

('key1', 'sudh')  ---- <class 'tuple'>
('contact', 'gmail')  ---- <class 'tuple'>
('position', 'mentor')  ---- <class 'tuple'>

In [67]:
for k, j in d.items():
    print(k, "--", j)

key1 -- sudh
contact -- gmail
position -- mentor

In [54]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)     # 1, 2, 3, 4, 4, 5, 5, 6, 6, 7

1
2
3
4
4
5
5
6
6
7

In [59]:
for i in fruits:
    print(i, end = " ")

Apple Banana Mango Orange Grapes Pineapple Watermelon Papaya Guava Pomegranate Lemon Lime Sweet Lime Grapefruit Peach

In [60]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        break   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

In [61]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        continue   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

KeyboardInterrupt:

In [62]:
s1 = {1,2,3,4,5,2,3,4,2,1}

for i in s1:
    print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [66]:
for i in range(5):
    print("python-"+str(i+0.5))

python-0.5
python-1.5
python-2.5
python-3.5
python-4.5